<div class="app-root">
    <div style="background-color: #2d2c43;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Lado izquierdo -->
            <a class="navbar-brand" href="#">Painani</a>
           
    
            <!-- Lado derecho -->
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <!-- Panel de navegación -->
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/explorar">Explorar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notificaciones">Notificaciones</a>
                    </li>
                    <!-- Enlace para ir al perfil -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div style="background-color: #2d2c43;">
    <br><br>
<div class="card mt-3 mb-3 w-75" style="background-color: #003364; border: 2px solid #00ffff; text-align: justify; color: #00ffff; margin-left: 12px;">
    <div class="card-body">
        <h1 class="card-title" style="text-align: center;">¿Quiénes Somos?</h1><br>
        <p class="card-text">
            Somos Painani, el periódico escolar del Instituto Tecnológico Superior de Ciudad Hidalgo (ITSCH). Nuestra misión es mantener a la comunidad estudiantil informada y comprometida con los acontecimientos y las actividades que se llevan a cabo en nuestro amado instituto.
        </p>
        <p class="card-text">
            Nuestro equipo está compuesto por Jose Ramon Mora Cruz, Hector Honradez Ponce y Luis Arturo Aguilar Guzmán, estudiantes apasionados y dedicados que trabajan incansablemente para proporcionar contenido relevante, interesante y oportuno. Creemos en el poder de la palabra escrita para inspirar, informar y conectar a las personas.
        </p>
        <p class="card-text">
            En Painani, nos esforzamos por ser una voz para los estudiantes, proporcionando una plataforma para expresar opiniones, compartir ideas y destacar logros. Cubrimos una amplia gama de temas, desde noticias académicas y eventos deportivos hasta perfiles de estudiantes y profesores, y mucho más.
        </p>
        <p class="card-text">
            Estamos orgullosos de ser parte de la rica tradición académica del ITSCH y esperamos continuar sirviendo a nuestra comunidad estudiantil en los años venideros. Te invitamos a explorar nuestras páginas, leer nuestras historias y unirte a nosotros en este emocionante viaje. ¡Bienvenido a Painani!
        </p>
    </div>



    
</div>

<br>

<div class="card mt-3 mb-3 w-75" style="background-color: #003364; border: 2px solid #00ffff; text-align: justify; color: #00ffff; margin-left: 350px;">

    
    <div class="card-body">
        <h1 class="card-title" style="text-align: left ;">Buscanos en nuestras redes</h1><br>

        <p>Te invitamos a visitar nuestra página especial de Facebook para la carrera de Sistemas, considerada la mejor del ITSCH. En ella, compartimos memes relacionados con nuestra carrera, así como contenido interesante y divertido. Es un excelente espacio para relajarte, mantenerte informado y disfrutar al mismo tiempo.</p>

        <i class="bi bi-facebook fs-1"></i>    https://www.facebook.com/ITSCHSistemas

<p><br><br></p>

        <p></p>
        

        <p>Estamos conscientes de las necesidades de nuestros usuarios y estamos trabajando para implementar mejoras en las próximas actualizaciones. <br>
            Te invitamos a seguir nuestra página de Facebook para mantenerte informado tanto de nuestro progreso como de los acontecimientos dentro de la institución.</p>
        
                <i class="bi bi-facebook fs-1"></i>   https://www.facebook.com/TecNM.Campus.Ciudad.Hidalgo


                
    </div>



    
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>